* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Imagem de fundo no corpo do doc.*/
body {
  background-image: url(../imgs/web.jpg);
}

/*Cabecalho da pagina*/
header {
  background-color: rgb(216, 237, 237);
  display: flex;
  color: #ffff;
  justify-content: space-around;
  height: 70px;
}

a {
  text-decoration: none;
  color: rgb(242, 224, 60);
  font-weight: bold;
}

h1 {
  width: 70%;
  padding-left: 20px;
  line-height: 50px;
  color: rgb(196, 12, 184);
  font-weight: bold;
}

span {
  font-weight: bold;
  color: blue;
}

/*Barra de navegacao da pag.*/

nav {
  background-color: rgb(106, 158, 246);
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

/*Celulares*/
@media (max-width: 375x667) {
  h1 {
    color: red;
  }

  p {
    color: blue;
  }
}

/*Tablets*/
@media (max-width: 768x1024) {
  h1 {
    color: black;
  }

  p {
    color: blue;
  }
}
